@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-transition {
    transition: 0.15s ease-in-out;
  }

  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
